package views

templ ErrorToast(message string) {
    <div class="toast toast-top toast-end animate__animated animate_fast animate__fadeInRight">
        <div class="alert alert-error animate__animated animate_fast animate__delay-5s animate__fadeOutRight">
            <span>{ message }</span>
        </div>
    </div>
}